.steps {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 2rem;
    display: flex;

}



.steps::after{
    content: "";
    width: 310px;
    left: 50px;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 20px;
}

.step{
    text-align: center;
   /* background-color: aliceblue; */
    z-index: 1;
    width: 150px;
    padding: 0.5rem;
    margin-left:-20px ;
    border-radius: 30%;
   

}

.step svg{
    font-size: 1.6rem;
    margin-bottom: .2rem;

}

.active{
    font-weight: bold;

}

.active > svg {
    fill: #7076f4;
    
}